//- Все примеси в этом файле должны начинаться c имени блока (modal)

mixin modal(props, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +modal('Текст', 'some-mod')

  -
    if(typeof(props) === 'undefined') {
      var props = {};
    }
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' modal--' + modsList[i].trim();
      }
    }

  .modal(class=allMods id=props.id aria-hidden='true')&attributes(attributes)
    .modal__backdrop(tabindex='1' data-custom-close="")
      .modal__dialog(role='dialog' aria-modal='true' aria-labelledby= props.id + '-title' )
        .modal__content
          +btn('','plain')(class="modal__close" aria-label='Close modal' data-custom-close="")
            svg(width=30 height=30)
              use(xlink:href="img/sprite.svg#close")
          block








