// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

/*! Модальное окно */
.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  z-index: 999;

  &__backdrop {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: ($z-index-modal);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    // overflow: hidden;
    -webkit-overflow-scrolling: touch;
    // overflow-y: auto;
  }

  &__dialog {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    z-index: ($z-index-modal + 1);
    // overflow-x: hidden;
    // overflow-y: auto;
    overflow: visible;
    max-height: 100vh;
    box-shadow: 0px 20px 40px 0 rgba(0,0,0,0.7);

    @media (min-width: $screen-lg) {
      @include container;
      height: auto;
      margin: auto;
    }
  }

  &__content {
    position: relative;
    padding: 25px 10px 30px 10px;
    color: #fff;
    background-color: #1f2021;
    opacity: 1;
    border-radius: $border-radius;
  }

  &__close.btn {
    width: 56px;
    height: 56px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -80px;
    right: 0;
    padding: 0;
    background-color: rgba(101,204,50,0.5);
    border-radius: 50%;

    &::hover,
    &::focus,
    &::active {
    background-color: rgba(101,204,50,0.7);
    }

    svg {
      fill: $color-bright;
    }
  }

  &--open {
    display: block;
  }

  &--video {

    #{$block-name}__dialog {
      height: 90vh;
    }

    #{$block-name}__content {
      height: 100%;
    }
  }

  &--msg {

    #{$block-name}__dialog {
      width: 616px;
      padding-left: 0;
      padding-right: 0;
      box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.24);
    }

    #{$block-name}__content {
      padding-top: 50px;
      min-height: 222px;
    }
  }
}

.modal-service {
  letter-spacing: 0.26px;

  .modal__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    text-decoration: underline;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
        color: inherit;
    }
  }



  &__title {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.36px;
  }
}

#card-order {
  .modal__dialog {
    @media (min-width: $screen-xl) {
      width: 870px;
    }
  }
}
