-
  var mainMenu = [
    {
      "id": "0",
      "name": "О клубе",
      "url": "/"
    },
    // {
    //   "id": "10",
    //   "name": "Команда",
    //   "url": "/pages",
    //   "childs": [
    //     {
    //       "id": "10-0",
    //       "name": "О компании",
    //       "url": "pages/about"
    //     },
    //     {
    //       "id": "10-10",
    //       "name": "Услуги",
    //       "url": "pages/services",
    //       "childs": [
    //         {
    //           "id": "10-10-0",
    //           "name": "Вёрстка",
    //           "url": "pages/services/serve"
    //         },
    //         {
    //           "id": "10-10-10",
    //           "name": "Стриптиз",
    //           "url": "pages/services/strip"
    //         }
    //       ]
    //     },
    //     {
    //       "id": "10-20",
    //       "name": "Ещё одна страница",
    //       "url": "pages/some"
    //     },
    //   ]
    // },
    {
      "id": "20",
      "name": "Команда",
      "url": "#"
    },
    {
      "id": "30",
      "name": "Клубные карты",
      "url": "#"
    },
    {
      "id": "40",
      "name": "Расписание",
      "url": "#"
    },
    {
      "id": "50",
      "name": "Услуги",
      "url": "#"
    },
    {
      "id": "60",
      "name": "Акции",
      "url": "#"
    },
    {
      "id": "70",
      "name": "Контакты",
      "url": "#"
    },
  ];
  var servicesMenu = [
    {
      "id": "0",
      "name": "Финская сауна",
      "url": "#"
    },
    {
      "id": "20",
      "name": "Студия единоборств",
      "url": "#"
    },
    {
      "id": "30",
      "name": "Фитнес тестирование",
      "url": "#"
    },
    {
      "id": "40",
      "name": "Солярий",
      "url": "#"
    },
    {
      "id": "50",
      "name": "Детские секции",
      "url": "#"
    },
    {
      "id": "60",
      "name": "Кроссфит зона",
      "url": "#"
    },
    {
      "id": "70",
      "name": "Салон красоты",
      "url": "#"
    },
    {
      "id": "80",
      "name": "Массаж",
      "url": "#"
    },
  ];
  var cardHoldersMenu = [
    {
      "id": "0",
      "name": "Расписание",
      "url": "#"
    },
    {
      "id": "20",
      "name": "Акции клуба",
      "url": "#"
    },
  ];
