// В этом файле должны быть стили для БЭМ-блока main-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.banner {

  $block-name:                &; // #{$block-name}__element

  margin-top: 42px;

  * {
    position: relative;
    z-index: 10;
  }

  p {
    hyphens: none;
  }

  &__inner {
    @include container;
  }

  &__figures {
    margin-top: 40px;

    @media (min-width: $screen-md) {
      display: flex;
      margin-top: 55px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }

  &__right {
    display: none;

    @media (min-width: $screen-xxl) {
      display: block;
      margin-top: -50px;
    }
  }

  .figures:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-right: 52px;
      margin-bottom: 0;
    }
  }

  &--about {
    position: relative;
    padding-bottom: 80px;

    @media (min-width: $screen-xl) {
      margin-top: 40px;
    }

    @media (min-width: $screen-xxl) {
      min-height: 850px;
      margin-top: 70px;
      padding-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 475px;
      height: 316px;
      z-index: 5;
      background-image: url(../img/main_banner_bg--mobile.jpg);
      background-repeat: no-repeat;
      transform: translateX(-190px);

      @media (min-width: $screen-md) {
        width: 857px;
        height: 571px;
        top: -70px;
        bottom: auto;
        background-image: url(../img/main_banner_bg--tablet.jpg);
        transform: translateX(-260px);
      }

      @media (min-width: $screen-xl) {
        top: -110px;
        transform: translateX(-200px);
      }

      @media (min-width: $screen-xxl) {
        top: -260px;
        width: 1619px;
        height: 1185px;
        background-image: url(../img/main_banner_bg.jpg);
        transform: translateX(-600px);
      }

      @media (min-width: $screen-xxl) {
      }
    }

    #{$block-name}__text {

      @media (min-width: $screen-md) {
        width: 340px;
      }

      @media (min-width: $screen-xl) {
        width: 590px;
      }
    }

    + section {
      position: relative;
      z-index: 10;
    }

    .page__main-title {
      width: 280px;
      margin-bottom: 0.8em;

      @media (min-width: $screen-xl) {
        width: auto;
      }

      @media (min-width: $screen-xxl) {
        margin-bottom: 20px;
      }
    }
  }

  &--main {
    position: relative;
    padding-bottom: 385px;
    background-image: url(../img/bg_index_top--mobile.jpg);
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-width: $screen-md) {
      background: none;
      padding-bottom: 0;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 0;
    }

    #{$block-name}__inner {
      @media (min-width: $screen-md) {
        margin-top: 10px;
        padding-bottom: 205px;
        padding-top: 50px;
        background-image: url(../img/bg_index_top--tablet.jpg);
        background-position: top -100px right 6px;
        background-repeat: no-repeat;
      }

      @media (min-width: $screen-xxl) {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        padding-top: 225px;
        padding-bottom: 415px;
        background-image: url(../img/bg_index_top--wide.jpg);
        background-position: top -95px right -185px;
      }

      &::after {
        @media (min-width: $screen-md) {
          content: '';
          position: absolute;
          top: 129px;
          right: 221px;
          width: 34px;
          height: 64px;
          background-image: url(../img/hand.png);
          z-index: 15;
        }

        @media (min-width: $screen-xxl) {
          top: 374px;
          right: 693px;
          background-image: url(../img/hand-wide.png);
        }
      }
    }

    .btn--main {
      min-width: 255px;
    }
  }

  &--cards {

    margin-top: 42px;

    @media (min-width: $screen-md) {
      margin-top: 74px;
    }

    .page__main-title span {
      display: block;
    }
  }
}
