// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element
}

.slider-btn {
  display: inline-flex;
  vertical-align: middle;
  width: 55px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: rgba(101,204,50,0.2);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    stroke: $color-bright;
  }
}

.slider-prev {
    margin-right: 25px;

  svg {
    transform: rotate(180deg);
  }
}


