// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line
    width: device-width;
  }
}


/* stylelint-disable */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/MontserratRegular.woff') format('woff'),
       url('../fonts/MontserratRegular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratMedium.woff2') format('woff2'),
       url('../fonts/MontserratMedium.woff') format('woff'),
       url('../fonts/MontserratMedium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/MontserratSemiBold.woff') format('woff'),
       url('../fonts/MontserratSemiBold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/MontserratBold.woff') format('woff'),
       url('../fonts/MontserratBold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/MontserratExtraBold.woff') format('woff'),
       url('../fonts/MontserratExtraBold.ttf')  format('truetype');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'CustomIcons';
  src: url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf')  format('truetype');
}
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $black;
    color: $white;
    overflow: hidden;
  }


  &__content {
    flex-grow: 1;

    // &::before {
    //   // z-index: -1;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   // top: -815px; //vacancies
    //   // top: -275px;
    //   //top: -5280px;
    //   content: url('../screen/action-wide.jpg');
    //   opacity: 0.4;
    // }
  }

  &__main {
    // margin-top: 28px;

    // @media (min-width: $screen-md) {
    //   margin-top: 54px;
    // }

    // @media (min-width: $screen-xl) {
    //   margin-top: 85px;
    // }

    // @media (min-width: $screen-xl) {
    //   margin-top: 0;
    // }
  }

  &__footer-wrapper {
    margin-top: 100px;
    flex-shrink: 0;

    @media (min-width: $screen-md) {
      margin-top: 120px;
    }
  }

  &__main-title {
    margin-top: 0;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.44px;

    @media (min-width: $screen-md) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }

    @media (min-width: $screen-xl) {
      font-size: 40px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 60px;
      letter-spacing: 1.2px;
    }

    span {
      color: $green;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }
  }

  &__main-title--lg {
    margin-bottom: 5px;
    font-size: 30px;
    letter-spacing: 0.6px;
    font-weight: 800;

    span {
      display: block;
    }

    @media (min-width: $screen-md) {
      font-size: 60px;
    }

    @media (min-width: $screen-xl) {
      font-size: 80px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 100px;
    }
  }

  &__main-subtitle {
    margin-bottom: 22px;
    font-size: 18px;
    letter-spacing: 0.36px;

    @media (min-width: $screen-md) {
      font-size: 30px;
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: 62px;
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.44px;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 30px;
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: 40px;
      font-size: 45px;
      line-height: 1.2;
      letter-spacing: 0.9px;
    }

    span {
      color: $green;
    }
  }

  &__top {
    @include container;
    position: relative;
    margin-top: 28px;
    z-index: 10;

    @media (min-width: $screen-md) {
      margin-top: 52px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 80px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; } // stylelint-disable-line
h2 { font-size: $font-size-h2; } // stylelint-disable-line
h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 0.8em;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.lead {
  font-weight: 600;
  font-size: 14px;
  hyphens: none;

  @media (min-width: $screen-xl) {
    font-size: 16px;
    letter-spacing: 0.32px;
    margin-bottom: 35px;
  }
}

.services {
  margin-top: 34px;
}

.card-holders {
  margin-top: 15px;
}

.contacts {
  margin-top: 16px;

  @media (min-width: $screen-md) {
    margin-top: 46px;
  }
}

.copyright {
  margin-top: 26px;
  font-size: 12px;
  letter-spacing: 0.24px;
  color: rgba(255, 255, 255, 0.6);
}


.list-title {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.35px;

  @media (min-width: $screen-md) {
    margin-bottom: 25px;
    font-size: 20px;
  }

  @media (min-width: $screen-xxl) {
    font-size: 24px;
    letter-spacing: .47px;
  }
}

.list-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.27;

  li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 28px;

    @media (min-width: $screen-md) {
      margin-bottom: 12px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-bright;
    }
  }

  &--narrow {
    line-height: 1.4;

    li {
      padding-left: 0;

      &::before {
        position: static;
        display: inline-block;
        margin-right: 10px;

        @media (min-width: $screen-md) {
          margin-right: 14px;
        }
      }
    }
  }
}

.page-cards {

  .page__footer-wrapper {

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
}

.command__list {
  margin-top: 10px;
  font-size: 12px;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }
}



.command__img {
  margin-top: 25px;

  @media (min-width: $screen-md) {
    width: 282px;
  }

  @media (min-width: $screen-xxl) {
    width: 400px;
  }
}


.command__list-title {
  margin-top: 22px;
  margin-bottom: 10px;

  @media (min-width: $screen-xxl) {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}

.command__list {
}

@media (min-width: $screen-xxl) {

  .command__img {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .command__list {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}


.article {


  &__date {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6;
    color: rgba(255,255,255,0.6);

    @media (min-width: $screen-xxl) {
      font-size: 15px;
    }
  }

  &__img {
    border-radius: 12px;
    overflow: hidden;
  }

  &__text {
    margin-top: 25px;

    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
  }

  &__lead {
    font-size: 16px;
  }

  &--action {

    @media (min-width: $screen-xxl) {
      display: grid;
      grid-template-columns: 1fr 578px;
      gap: 0 70px;
      margin-top: 80px;
    }

    .article__date {

      @media (min-width: $screen-xxl) {
        margin-bottom: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }

    .social {
      margin-top: 25px;
      margin-bottom: 25px;

      @media (min-width: $screen-md) {
        margin-bottom: 45px;
      }

      @media (min-width: $screen-xxl) {
        margin-bottom: 0;
        margin-top: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    .page__main-title {

      @media (min-width: $screen-md) {
        margin-bottom: 35px;
      }

      @media (min-width: $screen-xxl) {
        margin-bottom: 0;
        font-size: 45px;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    .article__img {

      @media (min-width: $screen-xxl) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
      }
    }

    .article__text {

       @media (min-width: $screen-xxl) {
          margin-top: 65px;
       }
    }

  }
}

.page-action {
  .article__text {

    .list-dots {
      margin-bottom: 25px;
    }

    p {

      @media (min-width: $screen-md) {
        margin-bottom: 20px;
      }
    }
  }
}

.article {
  @include container;
}
