// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: $typo-margin-vertical;
  margin-bottom: 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: block;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.68px;
    // border: 1px solid $border-color;
    padding: 0.3em 0.7em;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

    @media (min-width: $screen-md) {
      display: inline-flex;
      width: 56px;
      height: 56px;
      padding: 0;
      margin-right: 20px;
      align-items: center;
      justify-content: center;
    }


    & + & {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-bright;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        color: $color-bright;
      }
    }

    @at-root span#{&} {
      cursor: default;
    }

    &--active {
      color: $color-bright;

      @media (min-width: $screen-md) {
        border: 1px solid $color-bright;
        border-radius: 50%;
      }
    }
  }

  &__btn {
    @include btn-arrow;
  }
}
