// В этом файле должны быть стили для БЭМ-блока cards, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cards {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
  }

  &__list {

    margin-top: 25px;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 220px 220px 220px;
      justify-content: space-between;
      margin-top: 45px;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 360px 360px 360px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 444px 444px 444px;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    min-height: 180px;
    padding: 20px 20px 18px 24px;
    background-size: 100%;
    color: inherit;
    text-decoration: none;
    border-radius: $border-radius;

    @media (min-width: $screen-md) {
      background-size: cover;
    }

    @media (min-width: $screen-xxl) {
      width: 444px;
      min-height: 309px;
      margin-bottom: 0;
      padding: 40px 32px 40px 48px;
    }

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    &:first-child {
      background-image: url(../img/card_01.jpg);
    }

    &:nth-child(2) {
      background-image: url(../img/card_02.jpg);
    }

    &:nth-child(3) {
      background-image: url(../img/card_03.jpg);
    }
  }

  &__item-content {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin-top: auto;
  }

  &__item-caption {
    width: 150px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 1.3;

    @media (min-width: $screen-xxl) {
      width: 210px;
      margin-bottom: 30px;
      font-size: 23px;
      line-height: 1.5;
      letter-spacing: 1.15px;
    }
  }

  &__item-price {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 28px;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: 0.56px;
    color: $color-bright;

    @media (min-width: $screen-xxl) {
      font-size: 45px;
      letter-spacing: 0.91px;
    }

    &::after  {
      content: "\f158";
      font-family: 'CustomIcons';
      font-size: 13px;
      margin-left: 8px;

      @media (min-width: $screen-xxl) {
        font-size: 20px;
      }
    }
  }

  &__item-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 0;
    line-height: 0;
    align-self: flex-end;

    svg {
      stroke: $green;
      width: 16px;
      height: 13px;

      @media (min-width: $screen-md) {
      }
    }
  }

  &--nav {
    align-self: end;

    #{$block-name}__list {
      display: block;
      margin-top: 0;
    }

    #{$block-name}__item {
      width: 173px;
      min-height: 120px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    #{$block-name}__item-caption {
      width: 100px;
      margin-bottom: 8px;
      font-size: 12px;
      text-transform: none;
    }

    #{$block-name}__item-price {
      font-size: 22px;
      letter-spacing: 0.44px;
    }

    #{$block-name}__item-btn svg {
      width: 13px;
      height: 10px;
    }
  }
}
