//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    block vars

    -
      var pageClass= 'page-' + pageName;

    .page__inner(class= pageClass)
      .page__content

        +page-header()
          +logo('/')
            img(src='img/logo.png', alt='Logo', width='168', height='55')
          +phone()
          +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
          .page-header__content
            block nav


        main.page__main
          .page__top
            block top
          block content
            p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            +form("subscribe")
              .page__subtitle Будьте в курсе
              .form__text
                p Подпишитесь на нашу рассылку новостей Nicefitness
              +field-text({
                isTextarea: false,
                mods: 'subscribe',
                val: '',
                attrs: {
                  name: 'email',
                  placeholder: 'Ваш Email'
                }
              })
              +btn('Подписаться','main')
            section.services
              .page__subtitle Услуги
              +nav-services()
            section.card-holders
              .page__subtitle Держателям карт
              +nav-cardHolders()
            section.contacts
              .page__subtitle Контакты
              .contacts__list
                +contacts-item({
                  width: 17,
                  height: 17,
                  icon: 'phone',
                  mods: 'phone'
                })
                  a(href='tel:+7499110-21-31') +7 (499) 110-21-31
                +contacts-item({
                  width: 16,
                  height: 20,
                  icon: 'map-pin',
                })
                  span Москва, мкр. Северное Чертаново&nbsp;1А, ТРЦ "Авентура", 2&nbsp;этаж, станция метро Чертановская
                +contacts-item({
                  width: 18,
                  height: 18,
                  icon: 'clock',
                  mods: 'schedule'
                })
                  span Будни<br> 7:00 - 24:00
                  span Выходные<br> 8:00 - 23:00
            section.payment
              svg(width=276 height=21)
                use(xlink:href="img/sprite.svg#pay-group")
            +social()
            .copyright © 2020 - Nicefitness. Все права защищены




    block page-bottom
      script(src='js/bundle.js')
