//- Все примеси в этом файле должны начинаться c имени блока (app)

mixin app(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +app('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' app--' + modsList[i].trim();
      }
    }

  section.app(class=allMods)&attributes(attributes)
    .app__inner
      .app__content
        block
