// В этом файле должны быть стили для БЭМ-блока app, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.app {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 432px;
  margin-top: 110px;
  background-image: url(../img/app_bg--mobile.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: $screen-md) {
    margin-top: 95px;
    padding-top: 50px;
    padding-bottom: 236px;
    background-image: url(../img/app_bg--tablet.jpg);
    background-position: center top -110px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 430px;
    background-image: url(../img/app_bg.jpg);
    background-position: center top -180px;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 140px;
    padding-top: 100px;
    padding-bottom: 230px;
    background-position: center top -190px;
  }

  &__inner {
    @include container;
  }

  &__content {

    @media (min-width: $screen-md) {
      width: 430px;
    }

    @media (min-width: $screen-xxl) {
      width: 650px;
    }

    p {
      @media (min-width: $screen-md) {
        margin-top: 20px;
      }
    }
  }

  &__btns {
    display: flex;
    margin-top: 25px;

    @media (min-width: $screen-md) {
      margin-top: 30px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 40px;
    }
  }

  &__qr {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      width: 148px;
      height: 148px;
      margin-top: 59px;
      background-image: url(../img/qr.jpg);
      outline: 1px solid red;
    }
  }

  .btn:not(:last-child) {
    margin-right: 9px;
  }
}
