// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  margin-top: 40px;

  @media (min-width: $screen-md) {
    margin-top: 135px;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 230px;
  }

  &__inner {
    @include container;

    @media (min-width: $screen-xxl) {
      position: relative;
    }
  }

  &__list {
    margin-top: 25px;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-top: 42px;
      gap: 0 10px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 60px;
      gap: 0 20px;
    }
  }

  &__item {
    display: flex;
    position: relative;
    width: 280px;
    height: 220px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: $screen-md) {
      width: auto;
      margin-bottom: 16px;
    }

    @media (min-width: $screen-xxl) {
      height: 350px;
      padding: 25px 35px;
      margin-bottom: 25px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #66cc32;
      opacity: 0.15;
      z-index: 3;

      @media (min-width: $screen-md) {
        opacity: 0.6;
      }
    }

    &:nth-child(2n) {

      &::after {
        opacity: 0.6;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    * {
      position: relative;
      z-index: 10;
    }

    &:nth-child(4n+1) {

      @media (min-width: $screen-md) {
        grid-column-start: 1;
        grid-column-end: 3;

        &::after {
          opacity: 0.15;
        }
      }
    }

    @media (min-width: $screen-md) {

      &:nth-child(4n) {
        grid-column-start: 2;
        grid-column-end: 4;

        &::after {
          opacity: 0.15;
        }
      }
    }

    @media (min-width: $screen-xxl) {
      &:nth-child(n) {
        grid-column-start: auto;
        grid-column-end: auto;

        &::after {
          opacity: 0.15;
        }
      }

      &:nth-child(6n+1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &:nth-child(6n) {
        grid-column-start: 3;
        grid-column-end: 5;
      }

      &:nth-child(3n-1) {
        &::after {
          opacity: 0.6;
        }
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    img {
      @media (min-width: $screen-md) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
    }
  }

  &__caption {
    margin-top: auto;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    @media (min-width: $screen-xxl) {
      font-size: 22px;
      letter-spacing: 1.3px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (min-width: $screen-md) {
      margin-top: 25px;
    }

    @media (min-width: $screen-xxl) {
      position: absolute;
      right: 100px;
      bottom: 170px;
      z-index: 20;
    }

    .btn--main {
       @media (min-width: $screen-xxl) {
        min-width: 250px;
       }
    }
  }
}
