extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'cards';

block nav
  +main-nav('10')

block top
  +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Клубные карты')

block content
  +banner('cards')
    .banner__text
      h1.page__main-title клубные карты <span>nicefitness</span>

  +cards-lg()
    .cards-lg__list
      +cards-lg-item({text:'Клубная карта 1&nbsp;мес.', price: '2 250', num: "01"})(href="#")
        .cards-lg__info
          .cards-lg__info-list
            span.list-title В стоимость клубной карты входит:
            ul.list-dots
              li Неограниченное посещение<br>в будние дни с 7:00 до 00:00<br> в выходные дни с 8:00 до 23:00
              li Групповые программы
              li Силовая зона
              li Зона свободных весов
              li 1 вводная персональная тренировка
              li Кардиозона
              li Зона CrossFit
              li Зал для единоборств
              li Финская сауна
              li 1 фитнес тестирования
      +cards-lg-item({text:'Клубная карта 5&nbsp;мес.', price: '8 000', num: '02'})
        .cards-lg__info
          .cards-lg__info-list
            span.list-title В стоимость клубной карты входит:
            ul.list-dots
              li Неограниченное посещение<br>в будние дни с 7:00 до 00:00<br> в выходные дни с 8:00 до 23:00
              li Групповые программы
              li Силовая зона
              li Зона свободных весов
              li 1 вводная персональная тренировка
              li Кардиозона
              li Зона CrossFit
              li Зал для единоборств
              li Финская сауна
              li 1 фитнес тестирования
          +icon-text({
            width: 32,
            height: 22,
            icon: 'gift-card',
            text: '+ подарок "Карта для друга на 15 дней"'
          })
      +cards-lg-item({text:'Клубная карта 12&nbsp;мес.', price: '18 000', num: '03'})
        .cards-lg__info
          .cards-lg__info-list
            span.list-title В стоимость клубной карты входит:
            ul.list-dots
              li Неограниченное посещение<br>в будние дни с 7:00 до 00:00<br> в выходные дни с 8:00 до 23:00
              li Групповые программы
              li Силовая зона
              li Зона свободных весов
              li 1 вводная персональная тренировка
              li Кардиозона
              li Зона CrossFit
              li Зал для единоборств
              li Финская сауна
              li 1 фитнес тестирования
          +icon-text({
            width: 32,
            height: 22,
            icon: 'gift-card',
            text: '+ подарок "Карта для друга на 15 дней"'
          })
          +icon-text({
            width: 32,
            height: 22,
            icon: 'bracelet',
            text: '+ подарок браслет Nicefitness'
          })
      .cards-lg__info.cards-lg__info--all-cards
        span.list-title В стоимость клубных карт входит:
        ul.list-dots
          li Неограниченное посещение<br> в будние дни с 7:00 до 00:00<br> в выходные дни с 8:00 до 23:00
          li Групповые программы
          li Силовая зона
          li Зона свободных весов
          li Кардиозона
          li 1 вводная персональная тренировка
          li Зона CrossFit
          li Зал для единоборств
          li Финская сауна
          li 3 фитнес тестирования
          li 45 дней заморозки
          li 7 гостевых визитов
  +test-training()
    +form('test-training')
      .form__title Записаться на<br> пробную тренировку
      +field-text({
        isTextarea: false,
        title: 'Ваше имя',
        val: '',
        attrs: {
          name: 'name',
          placeholder: 'Введите Ваше имя'
        }
      })
      +field-text({
        isTextarea: false,
        title: 'Контактный телефон',
        mods: 'phone',
        val: '',
        attrs: {
          name: 'phone'        }
      })
      +field-checkbox([
        {
          mods: 'user-agree',
          title: 'Я соглашаюсь с условиями <a href="#">обработки персональных данных</a>',
          attrs: {
            name: 'user-agree',
          }
        },
      ])
      +btn('Записаться','submit,main')
//- block footer
//-   p footer

block append page-bottom
  +modal({id: 'card-order'})
    +card-order()
  +modal({id: 'service-massage'})(class="modal-service")
    .modal-service__title массаж
    p Скульптура тела <a href="#">Лаборатория-массажа.рф</a> рада предложить вам множество полезных и приятных процедур, благодаря которым вы сможете скорректировать фигуру, избавиться от болей в мышцах и полностью расслабиться.<br> <b>Дополнительным бонусом мы сделали скидку 15% на первый сеанс.</b>

