extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=e470ae02-a4b8-471a-bde6-d4a12def6e51&amp;lang=ru_RU"></script>

block vars
  -
    var pageName = 'map';

block nav
  +main-nav('10')

block top
  +breadcrumbs()
      +breadcrumbs-item('Главная', '/')
      +breadcrumbs-item('Контакты')

block content
  //- +banner('map')
  //-   .banner__text

  section.contacts.contacts--main
    .contacts__inner
      h1.page__main-title <span>свяжитесь</span> с нами
      .contacts__list
        +contacts-item({
          width: 18,
          height: 14,
          icon: 'email',
          mods: 'email'
        })
          a(href='mailto::nice-fitness@yandex.ru') nice-fitness@yandex.ru
        +contacts-item({
          width: 17,
          height: 17,
          icon: 'phone',
          mods: 'phone'
        })
          a(href='tel:+7499110-21-31') +7 (499) 110-21-31
        +contacts-item({
          width: 18,
          height: 15,
          icon: 'tg-small',
          mods: 'tg'
        })
          a(href="https://t.me/nice_fitness") Nicefitness | Чертаново | Фитнес
        +contacts-item({
          width: 16,
          height: 20,
          icon: 'map-pin',
          mods: 'address'
        })
          span Москва, мкр. Северное Чертаново&nbsp;1А, ТРЦ "Авентура", 2&nbsp;этаж, станция метро Чертановская
          a.contacts__show-map Показать на карте
      .contacts__img
        <img class="lazyload" data-src="/img/place_280x303.jpg" data-srcset="/img/place_280x303.jpg 280w,/img/place_296x380.jpg 296w" data-sizes="(max-width: 767px) 280px,(max-width: 1279px) 296px,(min-width: 1920px) 296px">
      .contacts__subtitle Режим работы клуба
      +contacts-item({
        width: 18,
        height: 18,
        icon: 'clock',
        mods: 'schedule'
      })
        span Будни<br> 7:00 - 24:00
        span Выходные<br> 8:00 - 23:00
    .map__wrapper
      #map.map


    +social()


block append page-bottom
  +modal({id: 'card-order'})
    +card-order()
  +modal({id: 'service-massage'})(class="modal-service")
    .modal-service__title массаж
    p Скульптура тела <a href="#">Лаборатория-массажа.рф</a> рада предложить вам множество полезных и приятных процедур, благодаря которым вы сможете скорректировать фигуру, избавиться от болей в мышцах и полностью расслабиться.<br> <b>Дополнительным бонусом мы сделали скидку 15% на первый сеанс.</b>

