// В этом файле должны быть стили для БЭМ-блока test-training, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.test-training {

  $block-name:                &; // #{$block-name}__element
  position: relative;

  @media (min-width: $screen-md) {
    margin-bottom: 80px;
    padding-top: 180px;
  }

  @media (min-width: $screen-xxl) {
    margin-bottom: 230px;
    padding-top: 110px;
  }


  &__inner {
    position: relative;
    @include container;

    @media (max-width: $screen-sm) {
      width: 300px;
    }

    @media (max-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }

    &::before {

      @media (min-width: $screen-md) {
        content: '';
        position: absolute;
        top: -420px;
        width: 768px;
        height: 1100px;
        background-image: url(../img/test-training-bg-md.jpg);
        z-index: 5;
      }

      @media (min-width: $screen-xl) {
        top: -320px;
        left: -200px;
        width: 1768px;
        height: 1000px;
        background-image: url(../img/test-training-bg-xxl.jpg);
      }

      @media (min-width: $screen-xxl) {
        height: 1160px;
        left: 0;
      }
    }

    & > * {
      position: relative;
      z-index: 10;
    }
  }
}
