// В этом файле должны быть стили для БЭМ-блока map, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.map {

  $block-name:                &; // #{$block-name}__element

  height: 400px;

  @media (min-width: $screen-md) {
    margin-top: 20px;
    height: 800px;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 0;
    position: relative;
    z-index: 10;
  }

  &__wrapper {
    position: relative;
    background-image: url(../img/map_bg_sm.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 3;

    @media (min-width: $screen-md) {
      background-image: url(../img/map_bg_md.jpg);
    }

    @media (min-width: $screen-xxl) {
      width: 100%;
      padding-top: 0;
      background: none;
      height: 1100px;

      &::before {
        content: '';
        position: absolute;
        width: 1280px;
        height: 1100px;
        top: -200px;
        left: -200px;
        background-image: url(../img/map_bg_xxl.jpg);
        z-index: 3;
      }
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 320px;
    //   height: 320px;
    //   transform: translateX(-50%);
    //   background: radial-gradient(circle, rgba(255,255,255,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%);
    //   z-index: 15;
    // }
  }
}

#map {
  cursor: pointer;
}

// [class*="ymaps-2"][class*="-ground-pane"] {
//   -webkit-filter: grayscale(100%) url(/path-to-svg/yellowfilter.svg#yellowfilter);
//           filter: grayscale(100%) url(/path-to-svg/yellowfilter.svg#yellowfilter);
// }
