// В этом файле должны быть стили для БЭМ-блока phone, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.phone {

  $block-name:                &; // #{$block-name}__element

  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  color: $green;
  letter-spacing: 0.44px;

  a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
  }


  &--top {
    display: none;
    // position: absolute;
    // bottom: 0;
    // padding-left: 48px;


    @media (min-width: $screen-lg) {
      // left: get-point(2, lg) - $screen-padding-lg;
      display: block;
    }

    // @media (min-width: $screen-xl) {
      // left: get-point(2, xl) - $screen-padding-xl;
    //   display: block;
    // }
  }

}
