// В этом файле должны быть стили для БЭМ-блока actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.actions {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-md) {
    margin-top: 110px;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 0;
  }

  &__inner {
    @include container;
  }

  &__list {
    margin-top: 30px;

    @media (min-width: $screen-md) {
      display: flex;
      margin-top: 40px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 25px;
    }
  }

  &__date {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: rgba(255,255,255,0.6);

    @media (min-width: $screen-md) {
      margin-bottom: 25px;
    }
  }

  &__caption {
    position: relative;
    padding-right: 10px;
    padding-bottom: 23px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4px;

    @media (min-width: $screen-md) {
      padding-right: 20px;
      padding-bottom: 42px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
    }

    @at-root .tns-horizontal.tns-subpixel > .tns-item & {
          @media (min-width: $screen-md) {
            flex-grow: 1;
          }
    }
  }

  &__more {
    margin-top: 26px;
    letter-spacing: 0.6px;

    @media (min-width: $screen-md) {
      margin-top: 45px;
    }

    .btn {
      display: flex;
      justify-content: space-between;
    }

    svg {
      stroke: $color-bright;
    }
  }

  &__btns {
    margin-top: 38px;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 70px;
    }
  }

  &__item {

    color: inherit;
    text-decoration: none;
    position: relative;

    @media (min-width: $screen-xxl) {
      padding-bottom: 110px;
      padding-top: 110px;
    }

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }

    &:nth-child(n+2) {
      display: none;

       @media (min-width: $screen-md) {
          display: block;
      }
    }

    @at-root .tns-horizontal.tns-subpixel > &.tns-item {

      @media (min-width: $screen-md) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__img {
    display: none;
    border-radius: 12px;
    overflow: hidden;

    @media (min-width: $screen-xxl) {
      position: absolute;
      left: -67px;
      top: 0;
      bottom: 0;
      right: 67px;
      z-index: -1;
    }

    img {
      @media (min-width: $screen-xxl) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }

    }
  }

  .slider-controls {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }



  .tns-ovh {
    @media (min-width: $screen-xxl) {
      margin-right: -165px;
    }
  }

  .tns-slide-active + .tns-slide-active + .tns-slide-active + .tns-slide-active {
    @media (min-width: $screen-xxl) {
      opacity: 0.3;
    }
  }

  .tns-slide-active + .tns-slide-active  #{$block-name}__img {
    @media (min-width: $screen-xxl) {
      display: block;
    }
  }

  .tns-slide-active + .tns-slide-active + .tns-slide-active  #{$block-name}__img {
    @media (min-width: $screen-xxl) {
      display: none;
    }
  }

  .tns-slide-active + .tns-slide-active + .tns-slide-active + .tns-slide-active  #{$block-name}__img {
    @media (min-width: $screen-xxl) {
      display: none;
    }
  }
}
